
/* ===================Nav==================== */
.navbar { 
    background-color: #9873c0;
    height: 46px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
  }

.navbar-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  margin-left: 10px;
}
.navbar a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}

.nav-item {
  margin-right: 10px;
  padding-right: 10px;
}

/* ===================Search Bar==================== */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh; /* This will center the content vertically on the page */
}
  
  /* Optional: Add some spacing between the logo and search bar */
img {
    margin-bottom: 20px;
}
  
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
  
.btn {
    background-color: grey;
    border: lavender;
}

/* ===================Search Results==================== */

.no-bullets {
  list-style-type: none;
}

.grid-container{
  border: none;
}

.recipe-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; /* Three columns of equal width */
  gap: 20px; /* Gap between grid items */
}

.grid-item {
  border-color: grey;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}


/* Style for the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for pagination links */
.pagination a {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

/* Style for active pagination link */
.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Hover effect for pagination links */
.pagination a:hover {
  background-color: #ddd;
}
