
/* ===================Nav==================== */
.navbar { 
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(176, 176, 176) 1px;
  height: 70px;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  }

.navbar-brand {
  margin-top: 20px;
  margin-left: 10px;
  width: 230px;
}

.nav-item {
  margin-right: 10px;
  padding-right: 10px;
}

.nav-btn {
  color: rgb(255, 255, 255);
  background-color: #6647d4;
  text-align: center;
  
}

.nav-btn:hover {
  border: solid 1px #6647d4;
}

.nav-user a{
  text-align: left;
  font-size: 1.4rem;
  color: #7253e2;
  font-family: 'Montserrat', serif, arial;
  font-weight: 600;
}

/* ===================Search Bar==================== */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
  

.homepage_logo {
    margin-top: 200px;
    height: 500px;
}
.search-form {
  width: 100%;
  max-width: 800px;
}  

.form-control {
  padding: 20px; 
  font-size: 20px; 
  border-radius: 5px 0 0 5px;
}

/* Style for Search Button */
.search-btn {
  border-radius: 0 5px 5px 0;
  border: rgb(100, 21, 119);
  color:#ffffff;
  background-color: rgb(96, 20, 115);
}
.search-btn:hover{
  border-radius: 0 5px 5px 0;
  border: solid #af99ff;
  background-color: #af99ff;
}

.input-group-text {
  background-color: #e7c5fb;
  border: none;
}

.input-group-text i {
  color:#af99ff;
}

/* ===================Search Results==================== */

.no-bullets {
  list-style-type: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; 
  gap: 20px;
  border: none;
}

.recipe-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.grid-item {
  padding: 10px;
}

.recipe_thumb {
  margin-bottom: 10px;
  border-bottom: solid 5px rgb(189, 120, 206);
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  height: 231px;
  max-height: 231px;
}

.show_recipe_title{
  text-decoration: none;
  font-size: 15px;
  margin-top: 40px;
  color: rgb(37, 37, 37);
}
.show_recipe_title:hover{
  color:grey;
  border-bottom:solid 1px grey;
}

/* Style for the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for pagination links */
.pagination a {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

/* Style for active pagination link */
.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Hover effect for pagination links */
.pagination a:hover {
  background-color: #ddd;
}

/* ===================Recipe Page==================== */


.recipe-title {
  color: #464444;
  display: flex;
  margin: 10px 0;
}
.favorite-btn {
  display: block;
  justify-content: left;
}
/* .fa-star {
  line-height: 0;
} */
.image-section {
  background-color: #af99ff; /* Change to your desired color */
  margin: 10px 0;
  padding: 0 350px;/* Add some spacing around the image */
}

.column-title {
  font-size: 35px;
  display: flex;
  margin-left: 20px;
}

/* Preparation Section */

.recipe-step {
  color: #808080;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 30px; 
}

/* Style for step numbers */

.recipe-step::marker {
  color: #606060;
  font-weight: 600;
  font-size: 1.5rem; 
  margin-right: 10px; 
}

/* Ingredients Section */
.column-title {
  padding-left: 2.5rem;
  margin-bottom: 30px;
  min-height: 35px;
}

.recipe-ingredients {
  list-style-type: none;
  font-size: 1.2rem;
  color: #2f2f2f;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 30px;
  text-align: left;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #af8ad8;
  border-radius: 4px;
  outline: none;
}

/* ===================User Page==================== */

.display-name {
  font-family: 'Montserrat', serif, arial;
  font-weight: 600;
  font-size: 40px;
}

.fav-recipe-title {
  font-family: 'Vollkorn', serif, arial;
  font-weight: 600;
  font-size: 30px;
}