{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<h1 class="display-name">{{user.display_name}}'s Favorite Recipes</h1>

<div class="recipe-container">
    <ul class="no-bullets grid-container">
        {% for recipe_info in favorited_recipes_info %}
            <li>
                <div class="grid-item">
                    {% if recipe_info.image %}
                    <a href="{{ url_for('show_recipe', recipe_api_id=recipe_info.recipe_api_id) }}"><img src="{{ recipe_info.image }}" class="recipe_thumb" alt="Dish Image"></a>
                    {% else %}
                      No image available.
                    {% endif %}  
                    <a href="{{ url_for('show_recipe', recipe_api_id=recipe_info.recipe_api_id) }}" class="show_recipe_title">{{ recipe_info.title }}</a>
                </div>
            </li> 
        {% else %}
            No favorites yet.
        {% endfor %}
    </ul>
</div>
{% endblock %}