{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<h1 class="display-name">{{user.display_name}}'s Favorite Recipes</h1>

<div class="recipe-container">
    <ul class="no-bullets grid-container">
        {% for favorited_recipe in user.favorites %}
            <li>
                <div class="grid-item">
                    {% if favorited_recipe.image %}
                    <a href="{{ url_for('show_recipe', recipe_api_id=favorited_recipe.recipe_api_id) }}" class="show_recipe_title"><img src="{{ favorited_recipe.image }}" class="recipe_thumb" alt="Dish Image"></a>
                    {% else %}
                      No image available.
                    {% endif %}  
                    <a href="{{ url_for('show_recipe', recipe_api_id=favorited_recipe.recipe_api_id) }}">{{ favorited_recipe.title }}</a>
                </div>
            </li> 
        {% else %}
            No favorites yet.
        {% endfor %}
    </ul>
</div>
{% endblock %}